body {
  margin: 0;
  padding: 0;
}

/* navbar style */
.navbar {
  background-color: burlywood;
  position: relative;
  width: 100%;
  height: 70px;
}

.nav_link {
  list-style: none;
  right: 5px;
  top: 20px;
  position: absolute;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-top: auto;
}
.nav_link li {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.show {
  padding: 0 5%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROfCEHaDmiSZ8LTq4vkV3iCPJ87MzHw6PMjQ&usqp=CAU"),
    no-repeat, center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.showmenu {
  padding: 0 5%;
}

/* menu style */

.top {
  margin-top: 30px;
  z-index: 1000;
}
.container {
  margin: 0 10px;
  width: 360px;
  height: 350px;
  border-radius: 10px;
}

.center {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}
/* home style */
.title,
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 34px;
  color: grey;
}
.info {
  color: grey;
  font-size: 30px;
}
